<div class="sidenav" id="booking">
    <div class="login-main-text">
       <h1>Come Fly With Us</h1>
      <h2> <p>Reach for the sky and beyond!!!</p></h2>
    </div>
 </div>
 <div class="main">
    <div class="col-md-6 col-sm-12">
       <div class="login-form">
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
             <div class="form-group">
                <label>Email</label>
                <input type="text" formControlName="email" class="form-control" placeholder="User Email">
             </div>
             <div class="form-group">
                <label>Password</label>
                <input type="password" formControlName="password" class="form-control" placeholder="Password">
             </div>
             <button type="submit" class="btn btn-black">Login</button>
             <button style="margin-left: 20px;"  routerLink="/auth/register" class="btn btn-secondary">Register</button>
          </form>
       </div>
    </div>
 </div>